.place__paragraph {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
  color: #FFFFFF;
  margin: 0 0 26px;
}

.place__paragraph:last-child {
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    margin: 0 0 25px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    font-size: 16px;
    margin: 0 16px 25px;
  }

  .place__paragraph:last-child {
    margin: 0 16px;
  }
}


/*на разрешениях с 1024 до бессконечность чередуется отступ от 26-27px, не думаю что критично
трогать не буду, оставлю 26px. на контрольных точках в +/- 10px должно попадать.
*/
