.lead__image {
  display: block;
  max-width: 984px;
  width: 100%;
  margin: 0 auto 8px;
  object-fit: cover;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .page {
    background-color: red;
  }

  .lead__image {
    max-width: calc((100vw - 1024px)*0.21870 + 928px);
  }

}

@media screen and (max-width: 1024px) {
  .page {
    background-color: green;
  }

  .lead__image {
    max-width:  928px;
  }

}
