.lead__subtitle {
  margin: 0 auto 64px;
  max-width: 640px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.20;
  text-align: center;
  color: #FFFFFF;
}
