.place {
  display: grid;
  grid-template-columns: 460px minmax(352px,484px);
  row-gap: 48px;
  column-gap: 40px;
  margin: 0;
  padding: 0 148px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    padding: 0 48px;
    column-gap: 32px;
    grid-template-columns: 440px minmax(352px,484px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    padding: 0 24px;
    column-gap: 28px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place {

  }
}

@media screen and (max-width: 319px) {
  .place {

  }
}
