.place__url-heading {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.70;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #AAAAAA;

  margin: 0 0 12px 0;
}

/*
Добрый день, стиль удалил, но если внимательно рассмотреть макет, там присутсвует разный интерлиньяж.
https://prnt.sc/1sgi61e первая URL
https://prnt.sc/1sgibde последующие
*/

@media screen and (max-width: 767px) {
  .place__url-heading {
    line-height: 1;
    margin: 0 16px 12px;
  }
}
