.footer__menu-links {
  display: flex;
  gap: 18px;
}

@media screen and (max-width: 767px) {
  .footer__menu-links {
      flex-direction: column;
      gap: 32px;
      margin-bottom: 48px;
    }
}

